<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">what now</h3>
</div>

<h1>Our task list</h1>
<table style="width: 100%" ng-show="tasks.length">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Dependencies</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr ng-repeat="task in tasks">
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
      <td>{{task.dependsOnText}}</td>
      <td><a title="Remove" ng-click="removeTask(task)">[Remove]</a></td>
    </tr>
  </tbody>
</table>

<p ng-hide="tasks.length">Nothing over here yet. Why don't you try adding some tasks?</p>

<form ng-submit="addTaskFromForm(newTask)">
  <label for="newTaskName">Name:</label>
  <input type="text" name="newTaskName" ng-model="newTask.name" placeholder="Your task here" required />
  <br />

  <label for="newTaskDependsOnText">Depends on:</label>
  <input type="text" name="newTaskDependsOnText" ng-model="newTask.dependsOnText" placeholder="IDs your task depends on" />
  <br />
  <button>Add Task</button>
</form>

<d3-pert task-list="tasks"></d3-pert>

<div class="footer">
  <p>Alpha</p>
</div>
