<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">what now</h3>
</div>

<div class="jumbotron">
  <h1>Our task list</h1>
  <ul>
    <li ng-repeat="task in tasks">{{task.name}}</li>
  </ul>

  <form>
    <input type="text" ng-model="newTask.name" placeholder="Your task here" />
    <button ng-click="addTaskFromForm(newTask)">Add Task</button>
  </form>
</div>

  <h1>Testing d3</h1>

  <p>Here there should be something like a PERT chart:</p>
  <d3-pert />

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
